/* styles.css */

.background-container {
    background-image: url('https://s1.1zoom.me/big0/474/Tulips_Black_background_Pink_color_559745_1280x853.jpg');
    background-size: cover; /* Adjust as needed: 'cover', 'contain', etc. */
    background-position: center; /* Adjust as needed: 'center', 'top', 'bottom', etc. */
    background-repeat: no-repeat;
    height: 100vh; /* Set the height based on your design */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  body {
    margin: 0; /* Remove default margin for full-width background */
    font-family: 'YourFontHere', sans-serif; /* Set the default font */
    color: #ffffff; /* Set the default text color */
  }
  

  .background-2 {
    background-image: url('https://th.bing.com/th/id/R.f6a54018c7dc21b13bc50b3028a505c1?rik=S%2bvsl43J5kwysA&riu=htt3d&risl=&pid=ImgRaw&r=0');
    background-size: cover; /* Adjust as needed: 'cover', 'contain', etc. */
    background-position: center; /* Adjust as needed: 'center', 'top', 'bottom', etc. */
    background-repeat: no-repeat;
    height: 100vh; /* Set the height based on your design */
    display: flex;
    flex-direction: column;
  }

  .background-3 {
    /* background-image: url('https://wallpapercave.com/wp/yFk2QjB.png'); */
    background-size: cover; /* Adjust as needed: 'cover', 'contain', etc. */
    background-position: center; /* Adjust as needed: 'center', 'top', 'bottom', etc. */
    background-repeat: no-repeat;
    height: 100vh; /* Set the height based on your design */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: cursive; 
    color: #ffffff; 
  }

  .background-c {
    background-image: url('https://wallpapercave.com/wp/wp8153887.jpg');
    background-size: cover; /* Adjust as needed: 'cover', 'contain', etc. */
    background-position: center; /* Adjust as needed: 'center', 'top', 'bottom', etc. */
    background-repeat: no-repeat;
    height: 100vh; /* Set the height based on your design */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: cursive; 
    color: #ffffff; 
    /* background: transparent; */
  }

  .background-4 {
    background-image: url('https://i.pinimg.com/564x/28/c8/bf/28c8bf8fb717ce0e8ecf2d89edad3f80.jpg');
    background-size: cover; /* Adjust as needed: 'cover', 'contain', etc. */
    background-position: center; /* Adjust as needed: 'center', 'top', 'bottom', etc. */
    background-repeat: no-repeat;
    height: 180vh; /* Set the height based on your design */
    display: grid;
    flex-direction: column;
    font-family: cursive; 
    color: #ffffff; 
  }